<div class="home_container">

    <div class="list_photo">

        <img src="/photos/sports/illustration.jpg" alt="Illustation" style="max-width: 100%; height: auto;">

    </div>

    <div class="sports_wrapper">

        <h1>Nouveaux sports</h1>

        <div class="sport">
            
            <!-- Chargement de tous les sports rescencés -->
            <% sport_imagess.forEach((sport_image) => { %>
                
                <div class="sport_frame">
                    
                    <img class="sports_img" src="<%= sport_image.url %> " alt="sport_image" style="margin-top: <%= sport_image.offset|0 %>px">

                    <div class="sports_desc">
                        <h3 class="sport_image_name" style="margin-top: <%= sport_image.offset3|0 %>px;font-size:25px;font-style:bold"><%= sport_image.name %></h3>
                        <p class="sport_date" style="margin-top: <%= sport_image.offset3|0 %>px;font-size:15px;font-style:italic">Proposé par : <%= sport_image.respo %></p>
                        <p class="sport_image_respo" style="margin-top: <%= sport_image.offset2|0 %>px" ><%= sport_image.desc %></p>
                    </div>
            
                </div>
                
                
            <% }) %>

        </div>

    </div>

</div>